[Unit]
Description=Update WatchGuard Study Portal from GitHub
After=docker.service network-online.target
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/update-watchguard
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=6
